<header class="main-header">
    <div class="grid">
        <div class="logo"><img src="/assets/img/logo.tag.side.png" alt="Way To Health Logo"></div>
        <nav>
            <a href="//waytohealth.org">Way To Health Home</a>
            <a href="//waytohealth.org/about">About</a>
        </nav>
    </div>
</header>
<header class="sub-header">
    <div class="grid">
        <h1 class="site-title">Way To Health Compliance</h1>
        <a class="up-next" href="/#/">&gt; Policy Docs</a>
        <% if current_page.data.search %>
        <div class="search">
            <span class="icon"><img src="/assets/img/icons/search.png" alt="Search Icon"></span>
        </div>
        <% end %>
    </div>
</header>
<div class="grid">
    <ul class="search-results"></ul>
</div>
