<header class="main-header">
	<div class="grid">
		<div class="logo"><img src="/assets/img/logo.svg" alt="Datica Logo"></div>
		<nav>
			<a href="//datica.com">Datica Home</a>
			<a href="//datica.com/about-us">About</a>
		</nav>
	</div>
</header>
<header class="sub-header">
	<div class="grid">
		<h1 class="site-title">Datica Compliance</h1>
		<a class="up-next" href="/#/">&gt; Policy Docs</a>
		<% if current_page.data.search %>
		<div class="search">
			<span class="icon"><img src="/assets/img/icons/search.png" alt="Search Icon"></span>
			<input type="text" class="search" id="input-search" placeholder="Search">
		</div>
		<% end %>
	</div>
</header>
<div class="grid">
	<ul class="search-results"></ul>
</div>