<section class="product-navigation">
	<a href="//waytohealth.org/compliance" class="left">&lsaquo;</a>
	<span class="span-left">Compliance Home</span>
	<span class="quote">&copy; Way To Health - PennMedicine </span>
	<a href="//policy.waytohealth.org" class="right">&rsaquo;</a>
	<span class="span-right">Compliance Policies</span>
</section>