<section class="product-navigation">
	<a href="//datica.com/compliance" class="left">&lsaquo;</a>
	<span class="span-left">Compliance Home</span>
	<span class="quote">&copy; Datica Health, Inc. 2015</span>
	<a href="//policy.datica.com" class="right">&rsaquo;</a>
	<span class="span-right">Open Source Policies</span>
</section>