<section class="product-navigation">
	<a href="//catalyze.io/compliance" class="left">&lsaquo;</a>
	<span class="span-left">Compliance Home</span>
	<span class="quote">&copy; Catalyze, Inc. 2015</span>
	<a href="//policy.catalyze.io" class="right">&rsaquo;</a>
	<span class="span-right">Open Source Policies</span>
</section>