@mixin background-gradient($c1, $c2){
	background: -moz-linear-gradient(-180deg, $c1 0%, $c2 70%);
	background: -webkit-gradient(linear, -180deg, $c1 0%, $c2 70%);
	background: -webkit-linear-gradient(-180deg, $c1 0%, $c2 70%);
	background: -o-linear-gradient(-180deg, $c1 0%, $c2 70%);
	background: -ms-linear-gradient(-180deg, $c1 0%, $c2 70%);
	background: linear-gradient(-180deg, $c1 0%, $c2 70%);
}
@mixin border-radius($r){
	-webkit-border-radius: $r;
	-moz-border-radius: $r;
	border-radius: $r;
}
@mixin border-radius-top($r){
	-webkit-border-top-left-radius: $r;
	-webkit-border-top-right-radius: $r;
	-moz-border-radius-topleft: $r;
	-moz-border-radius-topright: $r;
	border-top-left-radius: $r;
	border-top-right-radius: $r;
}
@mixin border-radius-left($r){
	-webkit-border-top-left-radius: $r;
	-webkit-border-bottom-left-radius: $r;
	-moz-border-radius-topleft: $r;
	-moz-border-radius-bottomleft: $r;
	border-top-left-radius: $r;
	border-bottom-left-radius: $r;
}
@mixin easing($s){
	-moz-transition: all $s ease;
	-webkit-transition: all $s ease;
	-o-transition: all $s ease;
	transition: all $s ease
}
@mixin opacity($a){
	-moz-opacity: $a;
	-khtml-opacity: $a;
	opacity: $a;
}
@mixin box-shadow($s){
	-moz-box-shadow: $s;
	-webkit-box-shadow: $s;
	box-shadow: $s;
}