@import url(//fonts.googleapis.com/css?family=Open+San);
// $f_bu: 'Avenir Next', 'Avenir', 'Helvetica Neue', Helvetica, sans-serif;
// $f_bu-serif: 'Adobe Garamond Pro', serif;
// $f_sans: 'Work Sans', $f_bu;
// $f_serif: 'Droid Serif', $f_bu-serif;
$f_bu: 'Open Sans', sans-serif;
$f_bu-serif: $f_bu;
$f_sans: $f_bu;
$f_serif: $f_bu;
body{
	font-family: $f_sans;font-size:14px;
}